# dependencies
node_modules

# build output
.next/
dist/
out/
*.tsbuildinfo
next-env.d.ts

# keys
.env*
!.env.example

# todo lo que la empresa tiene adentro
.data/

# misc
.DS_Store
*.pem
npm-debug.log*
